

#mainPsBlock{

    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    /*justify-content: center;

    height: 500px;
    background-color: rgba(0, 0, 0, .1);
    justify-content: flex-start;*/
}
#cameraBlock{
    display: flex;
    min-width: 350px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
#videoDiv{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 322px)  {
    /*.photo{ max-width: 700px;}*/
    #videoDiv{max-width: 300px;}
    #video{max-width: 300px;}
    body{
        width: 333px;
    }
}
@media only screen and (min-width: 411px) and (max-width: 500px) {
    /*.photo{ max-width: 700px;}*/
    /*#videoDiv{max-width: 300px;}*/
    /*#video{max-width: 300px;}*/
    body{
        width: 100%;
    }
}
#tools{
    background-color: lightblue;
}
#video{
    align-self: center;
    background-color: lightblue;
}
#videoDiv{
    /*width: 30%;*/
}

#canvasDiv{
    border: 1px solid lavender;
    /*width: 30%;*/
}
#canvas{
    align-self: center;
    min-width: 300px;
    background-color: aliceblue;
}

/*#videoBlock{*/
     /*align-self: center;*/
     /*min-width: 300px;*/
     /*background-color: lightblue;*/
 /*}*/
.tools-img{
    /*position: relative;*/
    width: 5vh;
    box-sizing: inherit;
    border-top: 1px solid;

    /*resize: both;*/
    /*overflow: hidden;*/
}

#reszPony-tool{
    resize: both;
    overflow: auto;
}

/*///-----------------------------///*/
/*#block {*/
    /*background-color: #ff0;*/
    /*min-height: 100px;*/
    /*min-width: 200px;*/
    /*position: relative;*/
    /*width: 400px;*/
/*}*/
/*#block_resize {*/
    /*background-color: #000;*/
    /*bottom: 0;*/
    /*cursor: se-resize;*/
    /*height: 12px;*/
    /*margin-top: 9px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*width: 12px;*/
/*}*/
.vidBtns{
    background-color: violet;
    width: 50%;
    border: 1px solid;
    border-radius: 0px;
}
.vidBtns:hover{
    border: 1.5px solid blue;
}
#videoBtnsBlock{
    display: flex;
    justify-content: space-between;
}
#mblock {
    /*background-color: #ff0;*/

    min-width: 50px;
    min-height: 50px;
    height: 5vh;
    /*background-image: url("../resources/tool-pony.png");*/
    background-size: cover;
    border: 1px red solid;
    position: absolute;
    /*width: 400px;*/
}
#mblock_resize {
    background-color: #000;
    bottom: 0;
    cursor: se-resize;
    height: 12px;
    margin-top: 9px;
    position: absolute;
    right: 0;
    width: 12px;
}