

#mainPsBlock{

    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
#cameraBlock{
    display: flex;
    min-width: 350px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
#videoDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: black;
}
#underVideoBlock{
    background-color: lightblue;
    padding: 5px;
    border-top: 1px;
}
#video{
    align-self: center;
    background-color: lightblue;
    width: 100%;
}
@media only screen and (max-width: 500px)  {
    #videoDiv{width: 300px;}
    #video{width: 300px;}
    body{
        width: 100%;
    }
}
@media only screen and (min-width: 411px) and (max-width: 500px) {
    body{
        width: 100%;
    }
}
#tools{
    background-color: lightblue;
    /*border-top: 1px solid;*/
}

#canvasDiv{
    border: 1px solid lavender;
    /*width: 30%;*/
}
#canvas{
    align-self: center;
    min-width: 300px;
    background-color: aliceblue;
}

.tools-img{
    /*position: relative;*/
    width: 5vh;
    box-sizing: inherit;

    /*resize: both;*/
    /*overflow: hidden;*/
}

#reszPony-tool{
    resize: both;
    overflow: auto;
}

.vidBtns{
    background-color: violet;
    width: 50%;
    border: 1px solid;
    border-radius: 0px;
}
.vidBtns:hover{
    border: 1.5px solid blue;
}
#videoBtnsBlock{
    display: flex;
    justify-content: space-between;
}
#mblock {
    /*background-color: #ff0;*/

    min-width: 50px;
    min-height: 50px;
    height: 5vh;
    /*background-image: url("../resources/tool-pony.png");*/
    background-size: cover;
    border: 1px red solid;
    position: absolute;
    /*width: 400px;*/
}
#mblock_resize {
    background-color: #000;
    bottom: 0;
    cursor: se-resize;
    height: 12px;
    margin-top: 9px;
    position: absolute;
    right: 0;
    width: 12px;
}

#makePhoto{
    width: 100%;
   margin 5px;
}
#savePhoto{
    width: 100%;

}
#savePhoto:hover{
    background-color:#88f5dd;
}
#makePhoto:hover{
    background-color: #88f5dd;
}