html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -0.5px;
    margin-bottom: -0.5px;
    margin-left: -0.5px;
    margin-right: -0.5px;
    background-color: aliceblue;
}
.like_img{
    height: 36px;
    width: 36px;
    margin: 1px 1px 1px 1px;
}

.cont{

    flex: 1 0 auto;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    /*justify-content: center;

    height: 500px;
    background-color: rgba(0, 0, 0, .1);
    justify-content: flex-start;*/
}
.item{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid lightblue;
    overflow: hidden;
    width: 50%;
    margin: 1px 1px 3px 3px;
    align-self: center;
}
.photo_list{
    display: flex;
    /*justify-content: space-between;*/
    flex-basis:   100%;

    overflow: hidden;
}
.like_div{
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid lightblue;
    /*flex-basis: 15%;*/
}
.photo{
    width: 100%;
    align-self: center;

}
#footerid{
    background-color: lightblue;
    /*border: 2px solid aqua;*/
    height: 110px;
    width: 100%;
    flex: 0 0 auto;
}
#headerid{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    /*border: 2px solid aqua;*/
    height: 110px;
    width: 100%;
    margin-bottom: 15px;
}
#img_icon{

    width: 100px;
    height: 100px;
}
#logoutIcon{
    align-self: center;
    width: 50px;
    height: 50px;
}
#cabinetIcon{
    align-self: center;
    width: 50px;
    height: 50px;
}
.commentPrevBlock{
    width: 100%;
}
.commentImg{
    width: 50px;
    height: 50px;
}

.commentArea{
    background-color: lightblue;
    border-radius: 5px;
    width: 75%;
    margin: 3px 5px 3px 5px;
    display: none;
}